<div class="main-list" ng-class="{wrap: selected}" >
    <div class="search-box">
        <input type="text" placeholder="{{ 'Search'|translate }}" ng-model="query" class="searchbar" ng-keyup="searchOnEnter(query, $event)" ng-show="!similar">
        <button class="btn pull-right" ng-class="{'active': similar}" ng-click="toggleSimilar()" translate>Find similar</button>
    </div>
    <span class="dropdown more-actions" dropdown>
        <button class="dropdown-toggle" dropdown-toggle>
            <span translate>Mode: </span>
            <span translate ng-show="mode === 'basic'">Basic</span>
            <span translate ng-show="mode === 'detailed'">Detailed</span>
        </button>
        <div class="dropdown-menu">
            <ul>
                <li>
                    <button ng-click="mode = 'basic'" ng-show="mode !== 'basic'">
                        {{ 'Basic' | translate }}
                    </button>
                    <span ng-show="mode === 'basic'"><i class="icon-check"></i>{{ 'Basic' | translate }}</span>
                </li>
                <li>
                    <button ng-click="mode = 'detailed'" ng-show="mode !== 'detailed'">
                        {{ 'Detailed' | translate }}
                    </button>
                    <span ng-show="mode === 'detailed'"><i class="icon-check"></i>{{ 'Basic' | translate }}</span>
                </li>
            </ul>
        </div>
    </span>
    <span>
        <span ng-repeat="itemType in itemTypeList">
            <a ng-click="toggleItemType(itemType)">
                <i class="filetype-icon-{{itemType}}"></i>
                <i class="icon-check" ng-show="isItemTypeToggled(itemType)"></i>
            </a>
        </span>
    </span>
    <div class="pagination-box" sd-pagination-alt data-page="page.current" data-max-page="page.max"></div>

    <div class="ingest-list-holder">
        <div sd-shadow>
            <ul class="ingest-list list-view">
                <li ng-repeat="item in processedItems track by $index" class="list-item-view">
                    <div class="dropdown more-actions" dropdown>
                        <button class="dropdown-toggle" dropdown-toggle><i class="icon-dots-vertical"></i></button>
                        <div class="dropdown-menu pull-right">
                            <span class="pin-info" ng-show="item.pinnedInstance">{{'pinned from' | translate}} {{item._type}}</span>
                            <ul>
                                <li><button ng-show="!isPinned(item)" ng-click="pin(item)">
                                    <i class="icon-pin"></i> {{ :: 'Pin' | translate }}</button>
                                </li>
                                <li><button ng-show="item.pinnedInstance && isPinned(item)" ng-click="unpin(item)">
                                    <i class="icon-pin"></i> {{ :: 'Unpin' | translate }}</button>
                                </li>
                                <li><button ng-click="view(item)"><i class="icon-expand"></i> {{ :: 'Open' | translate }}</button></li>
                            </ul>
                        </div>
                    </div>
                    <div ng-if="mode === 'basic'" class="item-block urgency-{{ item.urgency }}" 
                        ng-class="{pinned: isPinned(item), 'pinned-instance': item.pinnedInstance}"
                        ng-click="view(item)">
                        <div class="content">
                            <i class="filetype-icon-{{item.type}}"></i>
                            <p><span class="keyword" ng-if="pitem.slugline">{{ item.slugline }}</span>{{item.headline || item.type}}</p>
                        </div>
                    </div>
                    <div ng-if="mode === 'detailed'" class="item-block urgency-{{ item.urgency }}" 
                        ng-class="{pinned: isPinned(item), 'pinned-instance': item.pinnedInstance}"
                        ng-click="view(item)">
                        <div class="content">
                            <ul class="top-line clearfix">
                                <li>
                                    <span class="type-icon filetype-icon-{{item.type}}"></span>
                                    <span class="urgency-label">{{ item.urgency }}</span>
                                </li>
                                <li><time sd-datetime data-date="item.versioncreated"></time></li>
                                <li ng-show="item.byline"><em translate>by</em>{{ item.byline }}</li>
                                <li ng-show="item.provider && extras.sizex > 1"><em translate>source</em>{{ item.provider }}</li>
                                <li><div class="state-label state-{{item.state}}">{{item.state}}</div></li>
                            </ul>

                            <div class="main-line clearfix">
                                <figure class="media" ng-if="item.renditions.thumbnail">
                                    <img ng-src="{{ item.renditions.thumbnail.href }}" title="{{ item.description }}" />
                                </figure>
                                <h5 title="{{ item.headline }}">{{ item.headline }}</h5>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="preview" ng-class="{wrap: !selected}">
    <div class="nav">
        <button class="backlink" href="" ng-click="view(null)" translate>Back</button>
        <button class="open pull-right" ng-click="go(selected)"><i class="icon-expand"></i> {{ 'Open' | translate }}</button>
    </div>
    <div class="content-item-preview">
        <div class="content">
            <div sd-media-preview-widget data-item="selected"></div>
        </div>
    </div>
</div>
