<header>
	<p class="pull-left">{{ 'Created on' | translate}} <span sd-reldate-complex ng-model="task._created"></span> {{ 'by' | translate}} {{ users[task.original_creator].display_name }}</p>
	<button ng-click="task = null" class="close-preview">
        <i class="icon-close-small"></i>
    </button>
</header>
<div class="content" ng-if="task">
	<form name="taskForm" ng-init="setForm(this)">
		<div class="action-bar clearfix" ng-class="{show: taskForm.$dirty}">
	        <button class="btn btn-info pull-right" ng-click="save()" translate>Save</button>
	        <button class="btn pull-right" ng-click="reset()"  translate>Cancel</button>
	    </div>
		<div class="action-menu">
			<div class="dropdown dropdown-big pull-right">
	            <button class="dropdown-toggle condensed"><i class="icon-dots-vertical"></i></button>
	            <div class="dropdown-menu pull-right"
	                sd-activity-list
	                data-data="{item: task}"
	                data-type="task">
	            </div>
	        </div>
		</div>
		
		<ul class="task-labels clearfix">
			<li><i class="icon-desk-time"></i> {{ task_details.due_date | reldate }}</li>
		</ul>

		<div sd-assignee-box data-desk-id="task_details.desk" data-user-id="task_details.user" class="assignee"></div>
		<div class="assignee-name">
            <span ng-show="task_details.desk">{{desks[task_details.desk].name}} / </span>
            <span ng-show="task_details.user">{{users[task_details.user].display_name}}</span>
            <span ng-hide="task_details.user" translate>Unassigned</span>
        </div>

		<textarea class="title" sd-auto-height ng-model="task.slugline" placeholder="{{'Add title' | translate}}" required></textarea>
		<textarea class="description" sd-auto-height ng-model="task.description_text" placeholder="{{'Add description' | translate}}"></textarea>
	</form>

</div>